<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

		<link rel="icon" type="image/png" sizes="32x32" href="./static/images/favicon-32x32.png">
		<link rel="stylesheet" href="./static/globle.css">
		<link rel="stylesheet" href="./static/layout.css">
		<link rel="stylesheet" href="./static/utility.css">
		<link rel="stylesheet" href="./static/style.css">
		<link rel="stylesheet" href="./static/states.css">

		<title>Frontend Mentor | Multi-step form</title>

	</head>
	<body>
		<!-- 
			<h1 class="hd-s">Personal info</h1>
				<p class="pr-s">Please provide your name, email address, and phone number.</p>

				<label class="tx-inp-lbl-s clr-prim-1"  for="">Name</label>
				<p class="tx-inp-er-s">This field is required</p>
				<input type="text" class="tx-inp-s" placeholder="e.g. Stephen King">

				<button class="btn nex">Next step</button>
				<button class="btn gob">Go back</button>
				<button class="btn con">Conferim</button>

				<span class="num-icon">1</span>
				<span class="txt-nrml clr-neut-1 upercase">Step 1</span>
				<span class="txt-bld clr-neut-5 upercase">Your info</span>
		 -->

		<div class="main-layout">
			<main class="main">
				
				<section class="document-form" id="app">
					<div class="form-links">
						<ul class="links-list">
							<li>
								<a href="#step-1" class="link" data-active="true" ref="stp_1_lnk" v-on:click="switch_stp_1">
									<span class="num-icon">1</span>
									<div class="link-info">
										<p class="txt-nrml clr-neut-1 upercase">Step 1</p>
										<p class="txt-bld clr-neut-5 upercase">Your info</p>
									</div>
								</a>
							</li>

							<li>
								<a href="#step-2" class="link" data-active="false" ref="stp_2_lnk" v-on:click="switch_stp_2">
									<span class="num-icon">2</span>
									<div class="link-info">
										<p class="txt-nrml clr-neut-1 upercase">Step 2</p>
										<p class="txt-bld clr-neut-5 upercase">Select plan</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#step-3" class="link" data-active="false" ref="stp_3_lnk" v-on:click="switch_stp_3">
									<span class="num-icon">3</span>
									<div class="link-info">
										<p class="txt-nrml clr-neut-1 upercase">Step 3</p>
										<p class="txt-bld clr-neut-5 upercase">Add-ons</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#step-4" class="link" data-active="false" ref="stp_4_lnk" v-on:click="switch_stp_4">
									<span class="num-icon">4</span>
									<div class="link-info">
										<p class="txt-nrml clr-neut-1 upercase">Step 4</p>
										<p class="txt-bld clr-neut-5 upercase">Summary</p>
									</div>
								</a>
							</li>
						</ul>

						<picture class="main-section-picture">
							<source media="(min-width: 69.375em)" srcset="static/images/bg-sidebar-desktop.svg">
							<img src="static/images/bg-sidebar-mobile.svg" alt="">
						</picture>
					</div>

					<div class="form-fields">
						
						<!-- step 1 -->
						<div class="field-set-main step-1-fields" v-if=" current_step == 'step-1' ">
							<div class="fields-sets">
								<div class="fields">

									<h1 class="hd-s">Personal info</h1>
									<p class="pr-s">Please provide your name, email address, and phone number.</p>

									<div>
										<div class="info-Wrapper" v-bind:data-error="form_fields.step_1.user_name_error">
											<label class="tx-inp-lbl-s clr-prim-1" for="user-name">Name</label>
											<p class="info-error">This field is required</p>
											<input type="text" id="user-name" placeholder="e.g. Stephen King" class="info-text-input" v-model="form_fields.step_1.user_name">
										</div>
	
										<div class="info-Wrapper" v-bind:data-error="form_fields.step_1.email_eddress_error">
											<label class="tx-inp-lbl-s clr-prim-1" for="email-eddress">Email Address</label>
											<p class="info-error">This field is required</p>
											<input type="text" id="email-eddress" placeholder="e.g. stephenking@lorem.com" class="info-text-input" v-model="form_fields.step_1.email_eddress">
										</div>
	
										<div class="info-Wrapper" v-bind:data-error="form_fields.step_1.phone_number_error">
											<label class="tx-inp-lbl-s clr-prim-1" for="phone-number">Phone Number</label>
											<p class="info-error">This field is required</p>
											<input type="text" id="phone-number" placeholder="e.g. +1 234 567 890" class="info-text-input" v-model="form_fields.step_1.phone_number">
										</div>
									</div>
			
								</div>
							</div>

							<div class="back-and-next place-end">
								<button class="btn nex" v-on:click="switch_stp_2">Next Step</button>
							</div>
						</div>

						<!-- step 2 -->
						<div class="field-set-main step-2-fields" v-if=" current_step == 'step-2' ">
							<div class="fields-sets">
								<div class="fields">
									<h1 class="hd-s">Select your plan</h1>
									<p class="pr-s">You have the option of monthly or yearly billing.</p>

									<div class="diff-plans" data-yearly="false">
										<label for="arcade" class="plan">
											<input type="radio" name="select-plan-option" id="arcade" class="sr-only">
											<img src="./static/images/icon-arcade.svg" class="plan-icon" alt="">
											<div>
												<p class="txt-mdm clr-prim-1">Arcade</p>
												<p class="txt-nrml clr-neut-1">$9/mo</p>
												<p class="txt-nrml clr-prim-1">2 months free</p>
											</div>
										</label>
		
										<label for="advanced" class="plan">
											<input type="radio" name="select-plan-option" id="advanced" class="sr-only">
											<img src="./static/images/icon-advanced.svg" class="plan-icon" alt="">
											<div>
												<p class="txt-mdm clr-prim-1">Advanced</p>
												<p class="txt-nrml clr-neut-1">$12/mo</p>
												<p class="txt-nrml clr-prim-1">2 months free</p>
											</div>
										</label>
		
										<label for="pro" class="plan">
											<input type="radio" name="select-plan-option" id="pro" class="sr-only">
											<img src="./static/images/icon-pro.svg" class="plan-icon" alt="">
											<div>
												<p class="txt-mdm clr-prim-1">pro</p>
												<p class="txt-nrml clr-neut-1">$15/mo</p>
												<p class="txt-nrml clr-prim-1">2 months free</p>
											</div>
										</label>
									</div>

									<div class="monthly-and-year">
										<label for="monthly">
											<input type="radio" name="select-plan-option" id="monthly" class="sr-only">
											<span>Monthly</span>
										</label>
										<span class="monthly-and-year-icon"></span>
										<label for="yearly">
											<input type="radio" name="select-plan-option" id="yearly" class="sr-only">
											<span>Yearly</span>
										</label>
									</div>

								</div>
							</div>

							<div class="back-and-next place-spaced">
								<button class="btn gob" v-on:click="switch_stp_1">Go back</button>
								<button class="btn nex" v-on:click="switch_stp_3">Next step</button>
							</div>
						</div>

						<!-- step 3 -->
						<div class="field-set-main step-1-fields" v-if=" current_step == 'step-3' ">
							<div class="fields-sets">
								<div class="fields">
									<h1 class="hd-s">Pick add-ons</h1>
									<p class="pr-s">Add-ons help enhance your gaming experience.</p>

									<div class="add-ons">

										<label class="add-on" for="Online-service">
											<input type="checkbox" id="Online-service" class="sr-only"> 
											<span class="chechbox-icon">
												<img src="./static/images/icon-checkmark.svg" alt="">
											</span>
											<div>
												<p class="txt-mdm clr-prim-1">Online service</p>
												<p class="txt-nrml clr-neut-1">Access to multiplayer games</p>
											</div>
											<p class="txt-nrml clr-prim-2">+$1/mo</p>
										</label>

										<label class="add-on" for="Larger-storage">
											<input type="checkbox" id="Larger-storage" class="sr-only"> 
											<span class="chechbox-icon">
												<img src="./static/images/icon-checkmark.svg" alt="">
											</span>
											<div>
												<p class="txt-mdm clr-prim-1">Larger storage</p>
												<p class="txt-nrml clr-neut-1">Extra 1TB of cloud save</p>
											</div>
											<p class="txt-nrml clr-prim-2">+$2/mo</p>
										</label>

										<label class="add-on" for="Customizable-Profile">
											<input type="checkbox" id="Customizable-Profile" class="sr-only"> 
											<span class="chechbox-icon">
												<img src="./static/images/icon-checkmark.svg" alt="">
											</span>
											<div>
												<p class="txt-mdm clr-prim-1">Customizable Profile</p>
												<p class="txt-nrml clr-neut-1">Custom theme on your profile</p>
											</div>
											<p class="txt-nrml clr-prim-2">+$2/mo</p>
										</label>

									</div>
								</div>
							</div>

							<div class="back-and-next place-spaced">
								<button class="btn gob" v-on:click="switch_stp_2">Go back</button>
								<button class="btn nex" v-on:click="switch_stp_4">Next step</button>
							</div>
						</div>

						<!-- step 4 -->
						<div class="field-set-main step-4-fields" v-if=" current_step == 'step-4' ">
							<div class="fields-sets">
								<div class="fields">
									<h1 class="hd-s">Finishing up</h1>
									<p class="pr-s">Double-check everything looks OK before confirming.</p>

									<div class="Summary-table">
										<div class="table-section-1">

											<div class="table-data">

												<div>
													<p class="txt-mdm clr-prim-1">Arcade (monthly)</p>
													<a class="plan-change" href="#step-2" v-on:click="switch_stp_2">Change</a>
												</div>
												<p class="txt-bld clr-prim-1">$9/mo</p>

											</div>

											<div class="table-data">
												<p class="txt-mdm clr-neut-1">Online service</p>
												<p class="txt-mdm clr-prim-1">+$1/mo</p>
											</div>

											<div class="table-data">
												<p class="txt-mdm clr-neut-1">Larger storage</p>
												<p class="txt-mdm clr-prim-1">+$2/mo</p>
											</div>

										</div>
										<div class="table-section-2">

											<div class="table-data">
												<p class="txt-mdm clr-neut-1">Total (per month)</p>
												<p class="txt-bld clr-prim-2">+$12/mo</p>
											</div>

										</div>
									</div>
								</div>
							</div>

							<div class="back-and-next place-spaced">
								<button class="btn gob" v-on:click="switch_stp_3">Go back</button>
								<button class="btn con">Confirm</button>
							</div>
						</div>

						<!-- finale -->
						<div class="field-set-main step-1-fields" v-if=" current_step == 'succes' ">
							<div class="fields-sets">
								<div class="fields">
									<div class="confirmation-message">
										<img src="./static/images/icon-thank-you.svg" alt="">
										<h1 class="clr-prim-1 txt-bld heading">Thank you!</h1>
										<p class="clr-neut-1 paragraph">
											Thanks for confirming your subscription! We hope you have fun 
											using our platform. If you ever need support, please feel free 
											to email us at support@loremgaming.com.
										</p>
									</div>
								</div>
							</div>
							<div class="back-and-next place-spaced"></div>
						</div>

					</div>
				</section>

			</main>
			<footer class="footer">
				Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
				Coded by <a href="#">Your Name Here</a>.
			</footer>
		</div>
		<script type="module" src="./static/Vueapp/app.js"></script>

	</body>
</html>
















