/* form links */
.links-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}

.num-icon {
    border: 1px solid var(--clr-neut-5);
    border-radius: 100vh;
    width:  37px;
    aspect-ratio: 1 / 1;
    color: var(--clr-neut-5);
    font-weight: var(--fw-medium);
}
/* form links */

.field-set-main { --field-box-padding: 20px; }

.fields {
    box-sizing: border-box;
    background-color: var(--clr-neut-5);
    width: calc(100% -  2 * var(--field-box-padding) );
    margin-inline: auto;
    margin-bottom: 10px;
    padding: var(--field-box-padding);
    border-radius: 10px;
}

.hd-s {
    font-size: 29px;
    /* font-size: 26px; */
    font-weight: 700;
    color: var(--clr-prim-1);
    margin-top: 0;
    margin-bottom: 19px;
}

.pr-s {
    font-size: 1rem;
    font-weight: var(--fw-me);
    color: var(--clr-neut-1);
    margin-top: 0;
    margin-bottom: 26px;
    line-height: 1.5;
}

.back-and-next {
    background-color: var(--clr-neut-5);
    padding: var(--field-box-padding);
}

.btn {
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
.btn.nex {
    background-color: var(--clr-prim-1);
    color: var(--clr-neut-5);
}
.btn.gob {
    background-color: var(--clr-neut-5);
    color: var(--clr-neut-1);
}
.btn.con {
    background-color: var(--clr-prim-2);
    color: var(--clr-neut-5);
}





/* step 1 */
.info-Wrapper {
    margin-bottom: 24px;
}

.info-text-input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--clr-neut-2);
    font-weight: var(--fw-bold);
    color: var(--clr-prim-1);
    padding: 12px;
    margin-top: 8px;
    
}
.info-text-input::placeholder {
    color: var(--clr-neut-1);
    opacity: 1;
}

.info-error {
    color: var(--clr-prim-5);
    font-weight: var(--fw-medium);
}
/* step 1 */





/* step 2 */
.diff-plans {
    gap: 10px;
    margin-bottom: 25px;
}
.plan {
    gap: 10px;
    border: 1px solid var(--clr-neut-2);
    padding: 15px;
    border-radius: 10px;
}
.plan > div {
    line-height: 1.4;
}
.plan-icon {
    width: 40px;
}

.monthly-and-year {
    background-color: var(--clr-neut-3);
    padding: 15px;
    border-radius: 10px;
}

.monthly-and-year > label {
    text-align: center;
    font-weight: var(--fw-medium);
    color: var(--clr-neut-1);
}

.monthly-and-year-icon {
    display: flex;

    width: 30px;
    height: 10px;
    border-radius: 100vh;
    border: 5px solid var(--clr-prim-1);
    background-color: var(--clr-prim-1);
    pointer-events: none;
}
.monthly-and-year-icon::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100vh;
    background-color: var(--clr-neut-5);
    pointer-events: none;
}
/* step 2 */







/* step 3 */
.add-ons {
    gap: 15px;
}

.chechbox-icon {
    border: 1px solid var(--clr-neut-2);
    aspect-ratio: 1/1;
    width: 20px;
    border-radius: 5px;
}
.chechbox-icon > img {
    width: 15px;
}


.add-on {
    gap: 15px;
    border: 1px solid var(--clr-neut-2);
    border-radius: 10px;
    padding: 15px;
}
/* step 3 */






/* step 4 */
.table-section-1 , .table-section-2 {
    padding: 10px;
}

.table-section-1 {
    background-color: var(--clr-neut-3);
    border-radius: 10px;
}

.plan-change {
    color: var(--clr-neut-1);
    font-weight: var(--fw-medium);
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.table-section-1 > .table-data:first-child {
    border-bottom: 1px solid var(--clr-neut-2);
}
/* step 4 */


/* confirmation-message */
.confirmation-message {
    text-align: center;
    padding-block: 60px;
}

.confirmation-message > img {
    width: 75px;
    margin-inline: auto;
}

.confirmation-message > .heading {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 29px;
}

.confirmation-message > .paragraph { 
    line-height: 1.5;
}

/* confirmation-message */




@media only screen and (min-width: 69.375em ) /* min-width:  1110px */ {
    .document-form {
        background-color: var(--clr-neut-5);
        padding: 16px;
        border-radius: 10px;
    }

    .form-fields {
        /* padding-top: 44px; */
        padding-bottom: 16px;
    }

    .fields {
        background-color: transparent;
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    .back-and-next {
        background-color: transparent;
        padding: 0;
    }
    
    .hd-s {
        font-size: 32px;
    }

    .pr-s {
        margin-bottom: 40px;
    }
    
    /* step 1 */
    .info-Wrapper {
        margin-bottom: 24px;
    }

    .step-1-tx-inp {
        padding: 16px;
    }
    /* step 1 */


    /* step 2 */

    .diff-plans {
        gap: 25px;
        margin-bottom: 40px;
    }
    .plan {
        gap: 40px;
        width: 100%;
        padding: 15px;
    }

    /* step 2 */

    /* step 3 */
    /* step 3 */

    /* step 4 */
    /* step 4 */

   
}








