/* form links */
.links-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
    background-color: transparent;
    border: none;
    text-align: left;
}

.num-icon {
    border: 1px solid var(--clr-neut-5);
    border-radius: 100vh;
    width:  2.313rem;
    aspect-ratio: 1 / 1;
    color: var(--clr-neut-5);
    font-weight: var(--fw-medium);
}
/* form links */

.field-set-main { --field-box-padding: 1.25rem; }

.fields {
    box-sizing: border-box;
    background-color: var(--clr-neut-5);
    width: calc(100% -  2 * var(--field-box-padding) );
    margin-inline: auto;
    margin-bottom: 0.625rem;
    padding: var(--field-box-padding);
    border-radius: 0.625rem;
}

.hd-s {
    font-size: 1.813rem;
    /* font-size: 26px; */
    font-weight: 700;
    color: var(--clr-prim-1);
    margin-top: 0;
    margin-bottom: 1.188rem;
}

.pr-s {
    font-size: 1rem;
    font-weight: var(--fw-me);
    color: var(--clr-neut-1);
    margin-top: 0;
    margin-bottom: 1.625rem;
    line-height: 1.5;
}

.back-and-next {
    background-color: var(--clr-neut-5);
    padding: var(--field-box-padding);
}

.btn {
    font-weight: 500;
    padding: 0.625rem 1.25rem;
    border-radius: 0.313rem;
    border: none;
}
.btn.nex {
    background-color: var(--clr-prim-1);
    color: var(--clr-neut-5);
}
.btn.gob {
    background-color: var(--clr-neut-5);
    color: var(--clr-neut-1);
}
.btn.con {
    background-color: var(--clr-prim-2);
    color: var(--clr-neut-5);
}





/* step 1 */
.info-Wrapper {
    margin-bottom: 1.5rem;
}

.info-text-input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.313rem;
    border: 1px solid var(--clr-neut-2);
    font-weight: var(--fw-bold);
    color: var(--clr-prim-1);
    padding: 0.75rem;
    margin-top: 0.5rem;
    
}
.info-text-input::placeholder {
    color: var(--clr-neut-1);
    opacity: 1;
}

.info-error {
    color: var(--clr-prim-5);
    font-weight: var(--fw-medium);
}
/* step 1 */





/* step 2 */
.diff-plans {
    gap: 0.625rem;
    margin-bottom: 1.563rem;
}
.plan {
    gap: 0.625rem;
    border: 1px solid var(--clr-neut-2);
    padding: 0.938rem;
    border-radius: 0.625rem;
}
.plan > div {
    line-height: 1.4;
}
.plan-icon {
    width: 2.5rem;
}

.monthly-and-year {
    background-color: var(--clr-neut-3);
    padding: 0.938rem;
    border-radius: 0.625rem;
}

.monthly-and-year > label {
    text-align: center;
    font-weight: var(--fw-medium);
    color: var(--clr-neut-1);
}

.monthly-and-year-icon {
    display: flex;

    width: 1.875rem;
    height: 0.625rem;
    border-radius: 100vh;
    border: 0.313rem solid var(--clr-prim-1);
    background-color: var(--clr-prim-1);
    pointer-events: none;
}
.monthly-and-year-icon::after {
    content: '';
    display: block;
    width:  0.625rem;
    height: 0.625rem;
    border-radius: 100vh;
    background-color: var(--clr-neut-5);
    pointer-events: none;
}
/* step 2 */







/* step 3 */
.add-ons {
    gap: 0.938rem;
}

.chechbox-icon {
    border: 1px solid var(--clr-neut-2);
    aspect-ratio: 1/1;
    width: 1.25rem;
    border-radius: 0.313rem;
}
.chechbox-icon > img {
    width: 0.938rem;
}


.add-on {
    gap: 0.938rem;
    border: 1px solid var(--clr-neut-2);
    border-radius: 0.625rem;
    padding: 0.938rem;
}
/* step 3 */






/* step 4 */
.table-section-1 , .table-section-2 {
    padding: 0.625rem;
}

.table-section-1 {
    background-color: var(--clr-neut-3);
    border-radius: 0.625rem;
}

.plan-change {
    color: var(--clr-neut-1);
    font-weight: var(--fw-medium);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.Summary-plan { margin-bottom: 0.625rem;}
.table-data:nth-child(2) {
    border-top: 1px solid var(--clr-neut-2);
}
/* step 4 */


/* confirmation-message */
.confirmation-message {
    text-align: center;
    padding-block: 3.75rem;
}

.confirmation-message > img {
    width: 4.688rem;
    margin-inline: auto;
}

.confirmation-message > .heading {
    margin-top: 1.25rem;
    margin-bottom: 0.938rem;
    font-size: 1.813rem;
}

.confirmation-message > .paragraph { 
    line-height: 1.5;
}

/* confirmation-message */




@media only screen and (min-width: 69.375em ) /* min-width:  1110px */ {
    .document-form {
        background-color: var(--clr-neut-5);
        padding: 1rem;
        border-radius: 0.625rem;
    }

    .form-fields {
        /* padding-top: 44px; */
        padding-bottom: 1rem;
    }

    .fields {
        background-color: transparent;
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    .back-and-next {
        background-color: transparent;
        padding: 0;
    }
    
    .hd-s {
        font-size: 2rem;
    }

    .pr-s {
        margin-bottom: 2.5rem;
    }
    
    /* step 1 */
    .info-Wrapper {
        margin-bottom: 1.5rem;
    }

    .step-1-tx-inp {
        padding: 1rem;
    }
    /* step 1 */


    /* step 2 */

    .diff-plans {
        gap: 1.563rem;
        margin-bottom: 2.5rem;
    }
    .plan {
        gap: 2.5rem;
        width: 100%;
        padding: 0.938rem;
    }

    .plan-title {
        font-size: 1.125rem;
    }
    
    /* step 2 */
    
    /* step 3 */
    .add-on-title {
        font-size: 1.125rem;
    }
    /* step 3 */

    /* step 4 */
    .summary-total-price {
        font-size: 1.25rem;
    }
    /* step 4 */

   
}








